@model Clones.Models.BaseViewModel<Application.Models.AccountModel>
@{
    var model = Model.ModelList;
    var modelItem = model.FirstOrDefault();
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(item => modelItem.ProfileId)
            </th>
            <th>
                @Html.DisplayNameFor(item => modelItem.Id)
            </th>
            <th>
                @Html.DisplayNameFor(item => modelItem.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in model)
        {
            <tr id="@($"model-{item.Id}")">
                @{Html.RenderPartial("_AccountTableRow", item, new ViewDataDictionary { { "profiles", Model.Item["Profiles"] } });}
            </tr>
        }
    </table>
}

