@using Clones.Models;

@model IGridViewModel
@{
    var controllerName = "StockManagement";
    var createActionName = "CreateStock";
    var getTableActionName = "GetTable";
    var editActionName = "EditStocks";
    var deleteActionName = "DeleteStocks";

    ViewBag.Title = "Index";
}

<h2>@ViewBag.Title</h2>

<div id="content-table" data-delete="@($"/{controllerName}/{deleteActionName}")" data-create="@($"/{controllerName}/{createActionName}")" data-save="@($"/{controllerName}/{editActionName}")" data-update="@($"/{controllerName}/{getTableActionName}")">
    @{Html.RenderPartial("EditTable/_EditTable"); }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

