@using Clones.Models;

@model IGridViewModel
@{
    var controllerName = "ProfileManagement";
    var createActionName = "CreateAccount";
    var getTableActionName = "GetAccountTable";
    var editActionName = "EditAccounts";
    var deleteActionName = "DeleteAccounts";
    ViewBag.Title = "Accounts Management";
}

<h2>@ViewBag.Title</h2>

<div id="content-table" data-delete="@($"/{controllerName}/{deleteActionName}")" data-create="@($"/{controllerName}/{createActionName}")" data-save="@($"/{controllerName}/{editActionName}")" data-update="@($"/{controllerName}/{getTableActionName}")">
    @{Html.RenderPartial("EditTable/_EditTable"); }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
