@model IEnumerable<Application.Models.StockModel>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr id="@($"model-{item.Id}")">
                @{Html.RenderPartial("_StockTableRow", item);}
            </tr>
        }
    </table>
	
    <input type="submit" value="Save" class="btn btn-default" />
}


