@model IEnumerable<Application.Models.StockModel>

@{
    ViewBag.Title = "Stock Management";
}

<h2>@ViewBag.Title</h2>

<p>
    @Ajax.ActionLink("Create New Stock", "CreateStock", new AjaxOptions { UpdateTargetId = "create" })
</p>
<div id="create"></div>

<form method="post" id="stock-form">
    @Html.AntiForgeryToken()
    <p>@Html.DisplayNameFor(model => model.Name)</p>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-horizontal">
        @foreach (var item in Model)
        {
            <div class="form-group" id="stock-@(item.Id)">
                @Html.HiddenFor(id => item.Id, new { @id = $"stock-id-{item.Id}", @name = $"stock-id-{item.Id}" })

                <div class="col-sm-5">
                    <input type="text" id="stock-name-@(item.Id)" name="stock-name-@(item.Id)" value="@(item.Name)" class="form-control" style="max-width: none;" required="required" data-val="true" />
                </div>

                <a id="edit-stock-@(item.Id)" class="btn btn-primary j-save-stock" data-id="@(item.Id)">Save</a>
                <a id="delete-stock-@(item.Id)" class="btn btn-danger j-delete-stock" data-id="@(item.Id)">Delete</a>

                <span class="field-validation-valid text-danger" data-valmsg-for="stock-name-@(item.Id)" data-valmsg-replace="true"></span>
            </div>
        }
    </div>
</form>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
