@using Clones.Helpers;
@using Clones.Models;

@model IGridViewModel

@{
    var columns = Model.Columns;
    var modelItem = Model.Entities.FirstOrDefault();
}

<button class="j-show btn btn-primary" data-show="#create" style="margin-bottom: 15px;">Create New</button>
<div id="create" style="display: none; padding-bottom: 30px; border-bottom: 1px solid #ddd;">
    @{ Html.RenderPartial("EditTable/_EditTableCreate");}
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken() @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <table id="edit-table" class="table">
        <tr>
            <th>
                @Html.CheckBox("delete-all", new Dictionary<string, object> { { "id", "delete-all" } })
            </th>
            @foreach (var item in columns)
            {
                <th class="column-header">
                    @*@if (!String.IsNullOrEmpty(item.SortOrder))
                        {
                            @Html.ActionLink(item.PropertyName, "GetTable", new RouteValueDictionary { { "sort", $"{item.PropertyName}_{item.SortOrder}" } }, new Dictionary<string, object> { { "class", $"j-sort {item.SortOrder}" }, { "data-name", item.PropertyName }, { "data-sort", item.SortOrder } })
                        }*@
                    @if (item.IsEditable)
                    {
                        <button class="btn-link j-editable">@item.PropertyName</button>
                        <div class="j-filters-box filters-box">
                            <a href="#" class="j-sort @item.SortOrder" data-name="@item.PropertyName" data-sort="@(string.IsNullOrEmpty(item.SortOrder) ? "none" : item.SortOrder)">Sort</a>
                            <div class="j-filters" data-name="@item.PropertyName">
                                <div class="checkbox">
                                    <label>
                                        <input class="j-filters-checkbox-all" type="checkbox" name="@($"filter_{item.PropertyName}")" data-filter="check-all">
                                        Check all
                                    </label>
                                </div>
                                <div class="filters-list">
                                    @foreach (var el in item.ColumnValues)
                                    {
                                        <div class="checkbox">
                                            <label>
                                                <input class="j-filters-checkbox" type="checkbox" name="@($"filter_{item.PropertyName}")" data-filter="@el.Trim()">
                                                @el
                                            </label>
                                        </div>
                                    }
                                </div>
                                <button class="j-filters-apply btn btn-primary btn-xs">Apply</button>
                            </div>
                        </div>
                    }
                    else
                    {
                        @(Html.For(modelItem).DisplayName(item.PropertyName))
                    }
                </th>
            }
        </tr>
        <tbody id="edit-table-body" style="border-top-width: 1px;">
            @{ Html.RenderPartial("EditTable/_EditTableRows");}
        </tbody>


    </table>
    <button type="button" class="btn btn-default j-save-models">Save</button>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModel">Delete</button>
}

<div class="j-response" style="position: fixed; right: 15px; bottom: 30px; color: white;"></div>
@Html.Partial("_DeleteModelPopup")